<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="{{ url('tools.filter_email') }}">
                        FB Traffic Tools
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy; {{ "now"|date("Y") }}, made with <i class="material-icons">favorite</i> by
            <a href="{{ url('tools.filter_email') }}" target="_blank">TienDang</a>.
        </div>
    </div>
</footer>